<!DOCTYPE HTML>
<html>
<head>
  <script src="_Chart.js"></script>
  <script type="text/javascript" src="canvasjs.min.js"></script></head>
  <body>
  	<div id="chartContainer" style="width: 45%; height: 300px;display: inline-block;"></div>
	<div id="chartContainer2" style="width: 45%; height: 300px;display: inline-block;"></div>
	<br>
	<div id="chartContainer3" style="width: 45%; height: 300px;display: inline-block;"></div>
	<div id="chartContainer4" style="width: 45%; height: 300px;display: inline-block;"></div>
</body>
 </html>